<form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
  <div class="modal-header py-2">
    <h4 class="modal-title" id="modal-basic-title">Tải danh sách khách hàng</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body py-2">
    <!-- begin::Sidebar -->
    <div class="tab-pane mt-4">
      <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_update_customer_scroll" data-kt-scroll="true"
        data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
        data-kt-scroll-dependencies="#kt_modal_update_customer_header"
        data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
        <!--begin::User form-->
        <div class="collapse show">
          <div class="fv-row mb-2">
            <!--begin::Label-->
            <label class="fw-semibold fs-6 mb-2">
              <span>Chọn file</span>
              <span class="ms-1" placement="end" ngbTooltip="Số điện thoại đang hoạt động">
                <app-keenicon name="information" class="fs-7"></app-keenicon>
              </span>
            </label>
            <!--end::Label-->
            <!--begin::Input-->
            <input type="file" placeholder="Tải file của bạn" class="form-control form-control-sm"
              (change)="onFileSelected($event)" accept=".xlsx,.xls" />
            <!--end::Input-->
          </div>
          <!--end::Input group-->
        </div>
      </div>
    </div>
    <!--end::User form-->
  </div>


  <div class="modal-footer flex-center py-2">
    <!--begin::Button-->
    <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3 btn-sm"
      (click)="modal.dismiss('cancel')">
      <i class="fa fa-times"></i> Đóng
    </button>
    <!--end::Button-->

    <!--begin::Button-->
    <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary  btn-sm"
      [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
      <i class="fa fa-save"></i><span class="indicator-label">
        Tải lên
      </span>
      <span class="indicator-progress">
        Đang xử lý... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
    </button>
    <!--end::Button-->
  </div>
</form>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>