<form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
  <div class="modal-header py-2">
    <h4 class="modal-title" id="modal-basic-title">Nhập thông tin thành phố</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_update_customer_scroll" data-kt-scroll="true"
      data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
      data-kt-scroll-dependencies="#kt_modal_update_customer_header"
      data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
      <!--end::User toggle-->
      <!--begin::User form-->
      <div class="collapse show">
        <!--begin::Input group-->
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class="required fw-semibold fs-6 mb-2">Tên thành phố</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="cityModel.name"
            #name="ngModel" required minlength="4" />
          <div *ngIf="myForm.submitted && myForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="name.errors?.['required']">Đây là trường bắt buộc nhập</div>
            <div *ngIf="name.errors?.['minlength']">Name must be at least 4 characters long</div>
          </div>
          <!--end::Input-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class="required fw-semibold fs-6 mb-2">
            <span>Mã thành phố</span>
          </label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="code" class="form-control form-control-sm" name="code" [(ngModel)]="cityModel.code"
            #code="ngModel" required />
          <div *ngIf="myForm.submitted && myForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="code.errors?.['required']">Đây là trường bắt buộc nhập</div>
          </div>
          <!--end::Input-->
        </div>
        <!--end::Input group-->
      </div>
      <!--end::User form-->
    </div>
  </div>
  <div class="modal-footer flex-center py-2">
    <!--begin::Button-->
    <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light btn-sm me-3"
      (click)="modal.dismiss('cancel')">
      Đóng
    </button>
    <!--end::Button-->

    <!--begin::Button-->
    <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-sm btn-primary"
      [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
      <span class="indicator-label">
        Lưu lại
      </span>
      <span class="indicator-progress">
        Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
    </button>
    <!--end::Button-->
  </div>
</form>
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>