<div class="card">
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" [(ngModel)]="searchTerm" class="form-control w-250px ps-12" placeholder="Nhập mã và tên"
          (change)="changeSearTerm()">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!--begin::Add user-->

        <button type="button" class="btn btn-info btn-sm me-4" (click)="upload()">
          <i class="fa fa-upload"></i> upload
        </button>
        <button type="button" class="btn btn-primary btn-sm" (click)="create()">
          <i class="fa fa-add"></i> Tạo mới
        </button>
        <!--end::Add user-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->
  </div>

  <div class="card-body pt-0">
    <div class="table-responsive">
      <p-treeTable #table [value]="categorySignalValue" [tableStyle]="{'min-width': '50rem'}"
        [globalFilterFields]="['label']">
        <ng-template pTemplate="header">
          <tr>
            <th><b>Tên</b></th>
            <th width="400" class="text-bold"><b> Mã</b></th>
            <th width="100" colspan="2" class="text-center p-0"><b>Thao tác</b></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" class="p-datatable-gridlines">
          <tr>
            <td>
              <p-treeTableToggler [rowNode]="rowNode" [expandedIcon]="'pi pi-minus'" [collapsedIcon]="'pi pi-plus'">
              </p-treeTableToggler>
              <b>{{rowData.label}}</b>
            </td>
            <td><b>{{rowData.code}}</b></td>
            <td class="text-center">

            </td>
            <td class="text-center p-0" style="width: 50px;">
              <a title="" class="cursor-pointer">
                <i class="fas fa-pencil-alt text-primary" style="font-size: 13px;" (click)="edit(rowData.data)"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    <!-- end::Table container -->
  </div>
</div>


<swal #deleteSwal [swalOptions]="swalOptions" title="Bạn có muốn xóa thành phố đã không?"
  text="Dữ liệu sau khi xóa sẽ không thể phục hồi" icon="warning" [showCancelButton]="true" [focusCancel]="true"
  [confirmButtonText]="'Đồng ý'" [cancelButtonText]="'Đóng'"
  [customClass]="{confirmButton: 'btn btn-danger', cancelButton: 'btn btn-active-light'}">
</swal>
<swal #successSwal [swalOptions]="swalOptions" title="Xóa thành công!" text="" icon="success"
  [customClass]="{confirmButton: 'btn btn-success'}">
</swal>