<form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cập nhật thông tin người dùng</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column scroll-y me-n7 pe-7 " id="kt_modal_update_customer_scroll" data-kt-scroll="true"
      data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
      data-kt-scroll-dependencies="#kt_modal_update_customer_header"
      data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
      <!--end::User toggle-->
      <!--begin::User form-->
      <div class="collapse show">
        <!--begin::Input group-->
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class="required fw-semibold fs-6 mb-2">Tên đăng nhập</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="text" class="form-control" name="userName" [(ngModel)]="userModel.userName"
            #userName="ngModel" required minlength="4" />
          <div *ngIf="myForm.submitted && myForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="userName.errors?.['required']">Tên đăng nhập không được để trống</div>
            <div *ngIf="userName.errors?.['minlength']">Tên đăng nhập không được nhập ít hơn 4 ký tự</div>
          </div>
          <!--end::Input-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class=" fw-semibold fs-6 mb-2">
            <span>Họ và tên</span>
          </label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="code" class="form-control" name="fullName" [(ngModel)]="userModel.fullName"
            #fullName="ngModel" />
          <div *ngIf="myForm.submitted && myForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          </div>
          <!--end::Input-->
        </div>
        <!--end::Input group-->
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class=" fw-semibold fs-6 mb-2">
            <span>Địa chỉ</span>
          </label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="code" class="form-control" name="address" [(ngModel)]="userModel.address"
            #address="ngModel" />
          <div *ngIf="myForm.submitted && myForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          </div>
          <!--end::Input-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class=" fw-semibold fs-6 mb-2">
            <span>Email</span>
          </label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email"
            #email="ngModel" />
          <div *ngIf="myForm.submitted && myForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          </div>
          <!--end::Input-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class=" fw-semibold fs-6 mb-2">
            <span>Số điện thoại</span>
          </label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="email" class="form-control" name="phoneNumber"
            [(ngModel)]="userModel.phoneNumber" #phoneNumber="ngModel" />
          <div *ngIf="myForm.submitted && myForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          </div>
          <!--end::Input-->
        </div>
        <hr>              
        <!--end::Input group-->
      </div>
      <!--end::User form-->
      <div class="row">
        <h3 class="col-lg-12 mb-5">
          Chọn nhóm quyền
        </h3>
          <ng-container *ngFor="let role of role$ | async">
            <div class="col-lg-4 mb-4">
              <div class="form-check form-check-sm form-check-custom">
                <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"  [checked]="checkSelectId(role.name)"  (change)="selectPermision(role.name)"
                  data-kt-check-target=".widget-9-check" />&nbsp;{{role.name}}
              </div>
            </div>
          </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer flex-center">
    <!--begin::Button-->
    <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
      (click)="modal.dismiss('cancel')">
      Đóng
    </button>
    <!--end::Button-->

    <!--begin::Button-->
    <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
      [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
      <span class="indicator-label">
        Lưu lại
      </span>
      <span class="indicator-progress">
        Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
    </button>
    <!--end::Button-->
  </div>
</form>
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>