<div class="card">
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" [(ngModel)]="searchTerm" class="form-control form-control-sm w-250px ps-10"
          placeholder="Nhập mã và tên" (change)="changeSearTerm()">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!--begin::Add user-->
        <button type="button" class="btn btn-primary btn-sm" (click)="create()">
          Tạo mới
        </button>
        <!--end::Add user-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->
  </div>

  <div class="card-body pt-0">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed  table-bordered table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-35px">
              <div class=" text-center">

              </div>
            </th>
            <th class="min-w-150px">Mã</th>
            <th>Tên</th>
            <th class="min-w-250px">Địa chỉ</th>
            <th class="min-w-100px text-center">Trạng thái</th>
            <th colspan="2" class="min-w-50px text-center">Thao tác</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr
            *ngFor="let item of items$ | async |  paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: total }; let i = index ">
            <td class="text-center"> {{ i + pageSize * (pageIndex - 1) + 1 }}</td>
            <td> {{item.code}}</td>
            <td> {{item.name}}</td>
            <td> {{item.address}}</td>
            <td class="text-center">
              <span *ngIf="item.isActive" class="badge badge-light-success fs-8 fw-bolder">Hoạt động</span>
              <span *ngIf="!item.isActive" class="badge badge-light-danger fs-8 fw-bolder">Không hoạt động</span>
            </td>
            <td class="text-center w-25px">
              <a (click)="edit(item.id)" title="Cập nhật dữ liệu"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><app-keenicon name="pencil"
                  class="fs-3" ng-reflect-name="pencil" style="display: contents;"><span
                    class="fs-3 ki-duotone ki-pencil"><span class="path1"></span><span class="path2"></span>
                  </span>
                </app-keenicon></a>
            </td>
            <td class="text-center w-25px">
              <a (click)="delete(item.id)" title="Xóa dữ liệu"
                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm text-danger">
                <app-keenicon name="trash" class="fs-3 text-danger" ng-reflect-name="trash"
                  style="display: contents;"><span class="fs-3 ki-duotone ki-trash "><span class="path1"></span><span
                      class="path2"></span><span class="path3"></span><span class="path4"></span><span
                      class="path5"></span>
                  </span></app-keenicon>
              </a>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
      <pagination-controls previousLabel="Về trang trước" nextLabel="Về trang sau"
        (pageChange)="changePage($event)"></pagination-controls>
    </div>
    <!-- end::Table container -->
  </div>
</div>


<swal #deleteSwal [swalOptions]="swalOptions" title="Bạn có muốn xóa thành phố đã không?"
  text="Dữ liệu sau khi xóa sẽ không thể phục hồi" icon="warning" [showCancelButton]="true" [focusCancel]="true"
  [confirmButtonText]="'Đồng ý'" [cancelButtonText]="'Đóng'"
  [customClass]="{confirmButton: 'btn btn-danger', cancelButton: 'btn btn-active-light'}">
</swal>
<swal #successSwal [swalOptions]="swalOptions" title="Xóa thành công!" text="" icon="success"
  [customClass]="{confirmButton: 'btn btn-success'}">
</swal>